{
  "openapi": "3.1.0",
  "info": {
    "title": "PostQueen Public API",
    "version": "1.0.0",
    "license": {
      "name": "MIT",
      "identifier": "MIT"
    },
    "description": "Schedule posts, upload media, read analytics and manage the channels of your PostQueen workspace.\n\n## Authentication\n\nSend your API key in the `Authorization` header exactly as it is, with no prefix:\n\n```\nAuthorization: YOUR_API_KEY\n```\n\nThe key is under **Connections > API Keys** in the app. Only a workspace Admin or Super Admin can reveal or rotate it. An app your users sign in to with OAuth sends its `pos_` access token in the same header, also with no prefix. The workspace needs a subscription, and the free trial counts.\n\n## Rate limits\n\n`POST /posts` has an hourly limit per workspace. `POST /upload` and `POST /upload-from-url` allow 300 requests an hour each, per workspace. Nothing else is limited. A limited endpoint answers with `X-RateLimit-Limit`, `X-RateLimit-Remaining` and `X-RateLimit-Reset` headers, and over the limit with `429` and `Retry-After` (seconds).\n\n## Terminology\n\nThe app says channel, the API says integration. They are the same thing: a connected account on a network."
  },
  "servers": [
    {
      "url": "https://api.postqueen.ai/public/v1",
      "description": "PostQueen"
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "tags": [
    {
      "name": "Channels",
      "description": "Connected channels. The API calls them integrations."
    },
    {
      "name": "Posts",
      "description": "Create, list, change and delete posts"
    },
    {
      "name": "Media",
      "description": "Upload files to the media library"
    },
    {
      "name": "Analytics",
      "description": "Channel and post metrics"
    },
    {
      "name": "Notifications",
      "description": "The workspace's notifications"
    },
    {
      "name": "OAuth",
      "description": "Sign-in for apps that act for other PostQueen workspaces"
    }
  ],
  "paths": {
    "/integrations": {
      "get": {
        "tags": [
          "Channels"
        ],
        "summary": "List channels",
        "description": "Every channel connected to the workspace, including disabled ones. Deleted channels are left out.",
        "operationId": "listIntegrations",
        "responses": {
          "200": {
            "description": "The channels",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Integration"
                  }
                },
                "example": [
                  {
                    "id": "cmg1ozx2c0000qz0h8c7w5v3n",
                    "name": "PostQueen",
                    "identifier": "bluesky",
                    "picture": "https://cdn.example.com/avatar.png",
                    "disabled": false,
                    "profile": "postqueen.bsky.social",
                    "customer": {
                      "id": "cmg1oyv9a0000qz0hc2k1d7m4",
                      "name": "Acme"
                    }
                  }
                ]
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        },
        "parameters": [
          {
            "name": "group",
            "in": "query",
            "required": false,
            "description": "Only channels assigned to this customer id (see List groups)",
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/groups": {
      "get": {
        "tags": [
          "Channels"
        ],
        "summary": "List groups",
        "description": "The workspace's customers. The API calls them groups. Pass a group id to List channels or List posts to narrow them.",
        "operationId": "listGroups",
        "responses": {
          "200": {
            "description": "List of groups",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Group"
                  }
                },
                "example": [
                  {
                    "id": "cmg1oyv9a0000qz0hc2k1d7m4",
                    "name": "Acme"
                  }
                ]
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/social/{integration}": {
      "get": {
        "tags": [
          "Channels"
        ],
        "summary": "Get a connect URL",
        "description": "Starts connecting a network and returns the URL of its sign-in page, for a person to open in a browser. When they approve, the new channel appears in the workspace and they land in the PostQueen app.\n\nThis works for networks that sign in with their own consent page. Networks connected with a handle, key or password (Bluesky, DEV, Hashnode, Lemmy, Listmonk, Moltbook, Nostr, WordPress) answer 200 with a `url` that is only an internal state value: connect those from **Add Channel** in the app. A network marked Soon on [Channels](/channels/overview) cannot be connected yet, whatever this returns. The sign-in state is kept for one hour.",
        "operationId": "getIntegrationUrl",
        "parameters": [
          {
            "name": "integration",
            "in": "path",
            "required": true,
            "description": "The network's identifier, as in `identifier` from List channels, for example `youtube` or `threads`",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "refresh",
            "in": "query",
            "required": false,
            "description": "The id of an existing channel, to reconnect it instead of adding a new one. A reconnect does not count against the channel limit",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The URL to open",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "url": {
                      "type": "string",
                      "description": "The network's sign-in URL"
                    }
                  }
                },
                "example": {
                  "url": "https://accounts.google.com/o/oauth2/v2/auth?client_id=...&redirect_uri=...&state=..."
                }
              }
            }
          },
          "400": {
            "description": "`Integration not allowed`: not a network identifier",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageError"
                },
                "example": {
                  "msg": "Integration not allowed"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "description": "The workspace is at its plan's channel limit",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentRequired"
                },
                "example": {
                  "statusCode": 402,
                  "message": "You have reached the maximum number of channels for your subscription. Please upgrade your subscription to add more channels.",
                  "url": "https://app.postqueen.ai/billing"
                }
              }
            }
          },
          "500": {
            "description": "`Failed to generate auth URL`: the network refused the request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageError"
                },
                "example": {
                  "msg": "Failed to generate auth URL"
                }
              }
            }
          }
        }
      }
    },
    "/integration-settings/{id}": {
      "get": {
        "tags": [
          "Channels"
        ],
        "summary": "Get a channel's settings",
        "description": "What a post to this channel may carry: the network's rules in words, the maximum text length, the JSON schema of its `settings`, and the tools you can run with Trigger a tool. `settings` is the text `No additional settings required` for networks without a settings schema.\n\nMoltbook answers `No additional settings required`, but Create a post needs `submolt` for it.",
        "operationId": "getIntegrationSettings",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The channel's id, from List channels",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The channel's settings and tools",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "output": {
                      "type": "object",
                      "properties": {
                        "rules": {
                          "type": "string",
                          "description": "Platform-specific posting rules"
                        },
                        "maxLength": {
                          "type": "number",
                          "description": "Maximum content length"
                        },
                        "settings": {
                          "description": "JSON schema of the provider settings, or the string \"No additional settings required\""
                        },
                        "tools": {
                          "type": "array",
                          "description": "Provider tools that can be executed via the trigger endpoint",
                          "items": {
                            "type": "object",
                            "properties": {
                              "methodName": {
                                "type": "string"
                              },
                              "description": {
                                "type": "string"
                              },
                              "dataSchema": {
                                "type": "array",
                                "items": {
                                  "type": "object"
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "output": {
                    "rules": "Bluesky can have maximum 1 video or 4 pictures in one post, it can also be without attachments",
                    "maxLength": 300,
                    "settings": "No additional settings required",
                    "tools": []
                  }
                }
              }
            }
          },
          "404": {
            "description": "`Integration not found`",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageError"
                },
                "example": {
                  "msg": "Integration not found"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/integration-trigger/{id}": {
      "post": {
        "tags": [
          "Channels"
        ],
        "summary": "Trigger a tool",
        "description": "Runs one of a network's helper tools on a channel, such as listing WordPress post types or Hashnode publications, to get the ids a post's `settings` need. Get a channel's settings lists each channel's tools with their `methodName` and `dataSchema`. The tools of every network are on [Provider tools](/public-api/integrations/provider-tools).",
        "operationId": "triggerIntegrationTool",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The channel's id, from List channels",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "methodName"
                ],
                "properties": {
                  "methodName": {
                    "type": "string",
                    "description": "The tool method name, as returned by the integration settings endpoint"
                  },
                  "data": {
                    "type": "object",
                    "description": "The tool's input, keyed as in its `dataSchema`. Send `{}` for a tool that takes none",
                    "additionalProperties": {
                      "type": "string"
                    }
                  }
                }
              },
              "example": {
                "methodName": "postTypes",
                "data": {}
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The tool's result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "output": {
                      "description": "The result. Its shape depends on the tool"
                    }
                  }
                },
                "example": {
                  "output": [
                    {
                      "id": "posts",
                      "name": "Posts"
                    },
                    {
                      "id": "pages",
                      "name": "Pages"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "`Channel disconnected due to expired token`, or the API key is not valid (see Unauthorized)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageError"
                },
                "example": {
                  "msg": "Channel disconnected due to expired token"
                }
              }
            }
          },
          "404": {
            "description": "`Integration not found`, `Integration provider not found` or `Tool not found`",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageError"
                },
                "example": {
                  "msg": "Tool not found"
                }
              }
            }
          },
          "500": {
            "description": "`Unexpected error`: the network refused the call, or `data` did not fit the tool",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageError"
                },
                "example": {
                  "msg": "Unexpected error"
                }
              }
            }
          }
        }
      }
    },
    "/integrations/{id}": {
      "delete": {
        "tags": [
          "Channels"
        ],
        "summary": "Delete a channel",
        "description": "Deletes a channel and, first, every post of that channel in PostQueen, whatever its state: scheduled, drafts, published records and failed posts. Pending publishing for them is canceled. Posts of other channels are not touched, and nothing already published is taken down from the network. Connecting the account again does not bring the posts back.",
        "operationId": "deleteChannel",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The channel's id, from List channels",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The channel's record with `deletedAt` set. Its stored credentials are replaced by one-way hashes; read `id` and `deletedAt` and ignore the rest",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "deletedAt": {
                      "type": "string",
                      "format": "date-time"
                    }
                  },
                  "additionalProperties": true
                },
                "example": {
                  "id": "cmg1ozx2c0000qz0h8c7w5v3n",
                  "name": "PostQueen",
                  "providerIdentifier": "bluesky",
                  "deletedAt": "2026-10-01T09:00:00.000Z"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "description": "No channel with that id in your workspace",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageError"
                },
                "example": {
                  "msg": "Channel not found"
                }
              }
            }
          }
        }
      }
    },
    "/is-connected": {
      "get": {
        "tags": [
          "Channels"
        ],
        "summary": "Check the API key",
        "description": "Answers `{ \"connected\": true }` when the key or token is valid and the workspace has a subscription. Use it to test a key.",
        "operationId": "isConnected",
        "responses": {
          "200": {
            "description": "Connection status",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "connected": {
                      "type": "boolean"
                    }
                  }
                },
                "example": {
                  "connected": true
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/find-slot/{id}": {
      "get": {
        "tags": [
          "Channels"
        ],
        "summary": "Find a free slot",
        "description": "The next posting time that has no post yet, from the posting times set for the channel. The time is UTC, written `YYYY-MM-DDTHH:mm:00` with no zone suffix. An id that matches no channel falls back to the default posting times.",
        "operationId": "findSlot",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The channel's id, from List channels",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Next available slot",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "date": {
                      "type": "string",
                      "description": "UTC date and time, YYYY-MM-DDTHH:mm:00"
                    }
                  }
                },
                "example": {
                  "date": "2026-10-02T06:40:00"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/posts": {
      "get": {
        "tags": [
          "Posts"
        ],
        "summary": "List posts",
        "description": "Posts whose publish date falls in a range, drafts with a date included. Only the first post of each thread is listed, and posts of deleted channels are left out. A repeating post appears once per occurrence in the range, each with `actualDate` set to the original date. `settings` and `image` are JSON strings: parse them before use.",
        "operationId": "listPosts",
        "parameters": [
          {
            "name": "startDate",
            "in": "query",
            "required": true,
            "description": "Start of the range, UTC, ISO 8601",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "example": "2026-10-01T00:00:00.000Z"
          },
          {
            "name": "endDate",
            "in": "query",
            "required": true,
            "description": "End of the range, UTC, ISO 8601",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "example": "2026-10-31T23:59:59.000Z"
          },
          {
            "name": "customer",
            "in": "query",
            "required": false,
            "description": "Only posts of channels assigned to this customer id",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of posts",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostsResponse"
                },
                "example": {
                  "posts": [
                    {
                      "id": "cmg1p0s7k0001qz0h4yq2a8r1",
                      "content": "Shipping the new calendar today.",
                      "publishDate": "2026-10-01T09:00:00.000Z",
                      "releaseURL": null,
                      "releaseId": null,
                      "state": "QUEUE",
                      "error": null,
                      "intervalInDays": null,
                      "group": "6f0d2c1e-3b1a-4f4e-9f1d-2a7c9e5b8d10",
                      "creationMethod": "API",
                      "settings": "{\"__type\":\"bluesky\"}",
                      "image": "[]",
                      "tags": [],
                      "integration": {
                        "id": "cmg1ozx2c0000qz0h8c7w5v3n",
                        "providerIdentifier": "bluesky",
                        "name": "PostQueen",
                        "picture": "https://cdn.example.com/avatar.png"
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "post": {
        "tags": [
          "Posts"
        ],
        "summary": "Create a post",
        "description": "Schedules, publishes or saves posts on one or more channels. Each entry in `posts` is one channel: its text, media, thread and the network's `settings`. PostQueen checks every entry before it saves anything: the body and each network's required settings always, and for everything but a draft also the network's rules on length and media.\n\nThe settings of each network are on [Posting settings by network](/public-api/providers/overview).",
        "operationId": "createPost",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePostRequest"
              },
              "examples": {
                "bluesky": {
                  "summary": "A text post (Bluesky)",
                  "value": {
                    "type": "schedule",
                    "date": "2026-10-01T09:00:00.000Z",
                    "shortLink": false,
                    "tags": [],
                    "posts": [
                      {
                        "integration": {
                          "id": "YOUR_CHANNEL_ID"
                        },
                        "value": [
                          {
                            "content": "Shipping the new calendar today.",
                            "image": []
                          }
                        ]
                      }
                    ]
                  }
                },
                "thread": {
                  "summary": "A thread with an image (Bluesky)",
                  "value": {
                    "type": "schedule",
                    "date": "2026-10-01T09:00:00.000Z",
                    "shortLink": false,
                    "tags": [],
                    "posts": [
                      {
                        "integration": {
                          "id": "YOUR_CHANNEL_ID"
                        },
                        "value": [
                          {
                            "content": "The new calendar is live.",
                            "image": [
                              {
                                "id": "YOUR_MEDIA_ID",
                                "path": "https://cdn.example.com/a1b2c3d4e5.png"
                              }
                            ]
                          },
                          {
                            "content": "Drag a post to move it. Hold Shift to copy it.",
                            "image": [],
                            "delay": 5
                          }
                        ]
                      }
                    ]
                  }
                },
                "two-channels": {
                  "summary": "One post on two channels (Bluesky and Nostr)",
                  "value": {
                    "type": "schedule",
                    "date": "2026-10-01T09:00:00.000Z",
                    "shortLink": false,
                    "tags": [],
                    "posts": [
                      {
                        "integration": {
                          "id": "YOUR_BLUESKY_CHANNEL_ID"
                        },
                        "value": [
                          {
                            "content": "Shipping the new calendar today.",
                            "image": []
                          }
                        ]
                      },
                      {
                        "integration": {
                          "id": "YOUR_NOSTR_CHANNEL_ID"
                        },
                        "value": [
                          {
                            "content": "Shipping the new calendar today.",
                            "image": []
                          }
                        ]
                      }
                    ]
                  }
                },
                "wordpress": {
                  "summary": "A blog post (WordPress)",
                  "value": {
                    "type": "schedule",
                    "date": "2026-10-01T09:00:00.000Z",
                    "shortLink": false,
                    "tags": [],
                    "posts": [
                      {
                        "integration": {
                          "id": "YOUR_CHANNEL_ID"
                        },
                        "value": [
                          {
                            "content": "<p>The calendar now shows drafts next to scheduled posts.</p>",
                            "image": []
                          }
                        ],
                        "settings": {
                          "__type": "wordpress",
                          "title": "A calendar that shows everything",
                          "type": "posts",
                          "status": "publish"
                        }
                      }
                    ]
                  }
                },
                "devto": {
                  "summary": "An article (DEV)",
                  "value": {
                    "type": "schedule",
                    "date": "2026-10-01T09:00:00.000Z",
                    "shortLink": false,
                    "tags": [],
                    "posts": [
                      {
                        "integration": {
                          "id": "YOUR_CHANNEL_ID"
                        },
                        "value": [
                          {
                            "content": "## Why we rebuilt the calendar\n\nThree things changed.",
                            "image": []
                          }
                        ],
                        "settings": {
                          "__type": "devto",
                          "title": "Why we rebuilt the calendar"
                        }
                      }
                    ]
                  }
                },
                "draft": {
                  "summary": "A draft",
                  "value": {
                    "type": "draft",
                    "date": "2026-10-01T09:00:00.000Z",
                    "shortLink": false,
                    "tags": [],
                    "posts": [
                      {
                        "integration": {
                          "id": "YOUR_CHANNEL_ID"
                        },
                        "value": [
                          {
                            "content": "Idea: a post about the calendar.",
                            "image": []
                          }
                        ]
                      }
                    ]
                  }
                },
                "now": {
                  "summary": "Publish now",
                  "value": {
                    "type": "now",
                    "date": "2026-10-01T09:00:00.000Z",
                    "shortLink": false,
                    "tags": [],
                    "posts": [
                      {
                        "integration": {
                          "id": "YOUR_CHANNEL_ID"
                        },
                        "value": [
                          {
                            "content": "We are live.",
                            "image": []
                          }
                        ]
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Saved. One row per channel entry",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "postId": {
                        "type": "string"
                      },
                      "integration": {
                        "type": "string"
                      }
                    }
                  }
                },
                "example": [
                  {
                    "postId": "cmg1p0s7k0001qz0h4yq2a8r1",
                    "integration": "cmg1ozx2c0000qz0h8c7w5v3n"
                  }
                ]
              }
            }
          },
          "400": {
            "description": "The body failed validation (`message` is a list), a channel id is not in your workspace, the post breaks a network rule (`provider`, `name` and `message`), or it would publish an already published post again without `republish`",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/PostValidationError"
                    },
                    {
                      "$ref": "#/components/schemas/NestError"
                    },
                    {
                      "$ref": "#/components/schemas/MessageError"
                    }
                  ]
                },
                "examples": {
                  "rule": {
                    "summary": "A network rule",
                    "value": {
                      "statusCode": 400,
                      "provider": "bluesky",
                      "name": "PostQueen",
                      "message": "post is too long, please fix it"
                    }
                  },
                  "validation": {
                    "summary": "Validation",
                    "value": {
                      "message": [
                        "posts.0.value.0.image must be an array"
                      ],
                      "error": "Bad Request",
                      "statusCode": 400
                    }
                  },
                  "channel": {
                    "summary": "Unknown channel",
                    "value": {
                      "message": "Integration with id YOUR_CHANNEL_ID not found",
                      "error": "Bad Request",
                      "statusCode": 400
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "description": "The workspace's plan allows no more posts. Current plans have no monthly post limit",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentRequired"
                },
                "example": {
                  "statusCode": 402,
                  "message": "You have reached the maximum number of posts for your subscription. Please upgrade your subscription to add more posts.",
                  "url": "https://app.postqueen.ai/billing"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/posts/{id}": {
      "delete": {
        "tags": [
          "Posts"
        ],
        "summary": "Delete a post",
        "description": "Deletes the post's whole group: the post and every entry of its thread or comments on that channel. The id of a comment deletes its whole group too. Pending publishing is canceled. Nothing already published is taken down from the network.",
        "operationId": "deletePost",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The post's id",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted. The body is always `{ \"error\": true }`: judge the call by the status code",
            "content": {
              "application/json": {
                "example": {
                  "error": true
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "description": "`Post not found`: no such post in your workspace, or it is already deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NestError"
                },
                "example": {
                  "message": "Post not found",
                  "error": "Not Found",
                  "statusCode": 404
                }
              }
            }
          }
        }
      }
    },
    "/posts/group/{group}": {
      "delete": {
        "tags": [
          "Posts"
        ],
        "summary": "Delete a post by group",
        "description": "Deletes every post with this group id. A group is one channel's post with its thread or comments: each channel entry of a create request gets its own group. The `group` of a post is in List posts.",
        "operationId": "deletePostByGroup",
        "parameters": [
          {
            "name": "group",
            "in": "path",
            "required": true,
            "description": "The post's `group`, from List posts",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Done. The body is always `{ \"error\": true }`, also when no post had that group",
            "content": {
              "application/json": {
                "example": {
                  "error": true
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/posts/{id}/missing": {
      "get": {
        "tags": [
          "Posts"
        ],
        "summary": "Get missing content",
        "description": "For a TikTok post that TikTok published without returning its id (its `releaseId` is `missing`), this lists the channel's recent TikTok videos so you can pick the right one and set it with Update release ID. Every other post answers `[]`.",
        "operationId": "getMissingContent",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The post's id",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of recent content items from the provider",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/MissingContentItem"
                  }
                },
                "example": [
                  {
                    "id": "7321456789012345678",
                    "url": "https://p16-sign.tiktokcdn-us.com/obj/cover-image.jpeg"
                  },
                  {
                    "id": "7321456789012345679",
                    "url": "https://p16-sign.tiktokcdn-us.com/obj/cover-image2.jpeg"
                  }
                ]
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/posts/{id}/release-id": {
      "put": {
        "tags": [
          "Posts"
        ],
        "summary": "Update release ID",
        "description": "Sets the network id of a post whose `releaseId` is `missing`, so its analytics can be read. Only TikTok posts end up in that state. `releaseId` must be a non-empty string. A post that already has its id answers 400, and an id that is not a post in your workspace answers 404.",
        "operationId": "updateReleaseId",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The post's id",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "releaseId"
                ],
                "properties": {
                  "releaseId": {
                    "type": "string",
                    "description": "The platform-specific content ID to connect to this post"
                  }
                }
              },
              "example": {
                "releaseId": "7321456789012345678"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated post record",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "releaseId": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": true
                },
                "example": {
                  "id": "cmg1p0s7k0001qz0h4yq2a8r1",
                  "releaseId": "7321456789012345678",
                  "state": "PUBLISHED"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "400": {
            "description": "`releaseId` missing or empty, or `This post is not waiting for a release id`",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NestError"
                },
                "example": {
                  "statusCode": 400,
                  "message": "This post is not waiting for a release id",
                  "error": "Bad Request"
                }
              }
            }
          },
          "404": {
            "description": "Post not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NestError"
                },
                "example": {
                  "statusCode": 404,
                  "message": "Post not found",
                  "error": "Not Found"
                }
              }
            }
          }
        }
      }
    },
    "/posts/{id}/status": {
      "put": {
        "tags": [
          "Posts"
        ],
        "summary": "Change post status",
        "description": "Moves a post between draft and scheduled. `schedule` queues it for its stored date. A draft is checked first, with the same rules [Create a post](/public-api/posts/create) applies to a scheduled post: text or media present, the network's required settings, its media rules and its length. A draft that fails answers 400 with the channel name and the reason, and stays a draft. `draft` stops any pending publish and keeps the post as a draft. The date does not change. Published and failed posts cannot change.",
        "operationId": "changePostStatus",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The post's id",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "status"
                ],
                "properties": {
                  "status": {
                    "type": "string",
                    "enum": [
                      "draft",
                      "schedule"
                    ],
                    "description": "New status for the post"
                  }
                }
              },
              "example": {
                "status": "schedule"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Post status updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "state": {
                      "type": "string",
                      "enum": [
                        "DRAFT",
                        "QUEUE"
                      ]
                    }
                  }
                },
                "example": {
                  "id": "cmg1p0s7k0001qz0h4yq2a8r1",
                  "state": "QUEUE"
                }
              }
            }
          },
          "400": {
            "description": "`Post not found`, `Cannot change status of a published or errored post`, a `status` that is not `draft` or `schedule`, or `<channel name>: <reason>` when a draft moved to `schedule` fails its checks",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NestError"
                },
                "examples": {
                  "published": {
                    "summary": "Published or failed post",
                    "value": {
                      "message": "Cannot change status of a published or errored post",
                      "error": "Bad Request",
                      "statusCode": 400
                    }
                  },
                  "draftCheck": {
                    "summary": "A draft that fails its checks",
                    "value": {
                      "message": "Acme community: channel should not be null or undefined",
                      "error": "Bad Request",
                      "statusCode": 400
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/posts/{id}/settings": {
      "put": {
        "tags": [
          "Posts"
        ],
        "summary": "Update post settings",
        "description": "Merges the keys you pass into the post's existing provider settings. Only those keys change: the content, the publish date and the post ids stay as they are.\n\nWorks on posts that have not been published yet, meaning a scheduled post (`QUEUE`) whose publish time is still ahead, or a draft. The merged settings go through the same validation as creating a post, except on a draft, where only the empty-content check runs.\n\nPass the id of the main post, not of a comment in its thread.",
        "operationId": "updatePostSettings",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The post's id",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "settings"
                ],
                "properties": {
                  "settings": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Provider settings to merge into the post's existing settings. Only the keys you pass change. Keys depend on the channel's platform, and `__type` is always taken from the channel."
                  }
                }
              },
              "example": {
                "settings": {
                  "title": "A calendar that shows everything"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Post settings updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "postId": {
                      "type": "string"
                    },
                    "publishDate": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "postId": "cmg1p0s7k0001qz0h4yq2a8r1",
                  "publishDate": "2026-10-01T09:00:00"
                }
              }
            }
          },
          "400": {
            "description": "The id belongs to a comment (pass the main post's id), the post was already published or failed, its publish time has passed, or the merged settings failed validation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NestError"
                },
                "example": {
                  "message": "Only scheduled posts that were not published yet (or drafts) can be updated",
                  "error": "Bad Request",
                  "statusCode": 400
                }
              }
            }
          },
          "404": {
            "description": "`Post not found`",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NestError"
                },
                "example": {
                  "message": "Post not found",
                  "error": "Not Found",
                  "statusCode": 404
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/upload": {
      "post": {
        "tags": [
          "Media"
        ],
        "summary": "Upload a file",
        "description": "Uploads a file to the media library, as multipart form data in a field named `file`. PostQueen reads the type from the file itself: JPEG, PNG, GIF, WebP, AVIF, BMP, TIFF, MP4 or MOV, up to 1 GB. A video comes back `processing` while it is prepared in the background (a MOV becomes an MP4): poll Get media status until it is `ready`, then use the `path` that returns.\n\nA post takes media whose path ends in .png, .jpg, .jpeg, .gif, .webp or .mp4, so an AVIF, BMP or TIFF file can be stored but not posted.",
        "operationId": "uploadFile",
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary",
                    "description": "The file to upload"
                  }
                },
                "required": [
                  "file"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Stored",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MediaFile"
                }
              }
            }
          },
          "400": {
            "description": "`No file provided`, `Unsupported file type.`, or `File size exceeds the maximum allowed size of 1073741824 bytes.`",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/MessageError"
                    },
                    {
                      "$ref": "#/components/schemas/NestError"
                    }
                  ]
                },
                "examples": {
                  "type": {
                    "summary": "Unsupported type",
                    "value": {
                      "message": "Unsupported file type.",
                      "error": "Bad Request",
                      "statusCode": 400
                    }
                  },
                  "missing": {
                    "summary": "No file",
                    "value": {
                      "msg": "No file provided"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/upload-from-url": {
      "post": {
        "tags": [
          "Media"
        ],
        "summary": "Upload from a URL",
        "description": "PostQueen downloads a file from a public HTTPS URL into the media library. The URL's path must end in .png, .jpg, .jpeg, .gif, .webp or .mp4 (a query string is ignored), and it cannot point at a private or local address. The download may take up to 5 minutes and 1 GB, and the type is then read from the file itself. A video comes back `processing`, as with Upload a file.",
        "operationId": "uploadFromUrl",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "url": {
                    "type": "string",
                    "format": "uri",
                    "description": "URL of the file to upload"
                  }
                },
                "required": [
                  "url"
                ]
              },
              "example": {
                "url": "https://example.com/launch-banner.png"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Stored",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MediaFile"
                }
              }
            }
          },
          "400": {
            "description": "The URL failed validation (`message` is a list), or `Failed to fetch URL`, `File is too large.` or `Unsupported file type.` (`msg`)",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/NestError"
                    },
                    {
                      "$ref": "#/components/schemas/MessageError"
                    }
                  ]
                },
                "examples": {
                  "validation": {
                    "summary": "Validation",
                    "value": {
                      "message": [
                        "URL must be a public HTTPS URL and cannot point to internal network addresses"
                      ],
                      "error": "Bad Request",
                      "statusCode": 400
                    }
                  },
                  "fetch": {
                    "summary": "Download failed",
                    "value": {
                      "msg": "Failed to fetch URL"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/media/{id}/status": {
      "get": {
        "tags": [
          "Media"
        ],
        "summary": "Get media status",
        "description": "Whether an uploaded file is ready to put on a post. A video answers the upload endpoints with `status: \"processing\"` and is ready a few seconds to a few minutes later, possibly with a new `path`. Use the `path` this returns once `status` is `ready`. `failed` carries the reason in `processingError`.",
        "operationId": "getMediaStatus",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The media id from an upload",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The media row",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "originalName": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "path": {
                      "type": "string"
                    },
                    "thumbnail": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "alt": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "ready",
                        "processing",
                        "failed"
                      ]
                    },
                    "processingError": {
                      "type": [
                        "string",
                        "null"
                      ]
                    }
                  }
                },
                "example": {
                  "id": "e639003b-f727-4a1e-87bd-74a2c48ae41e",
                  "name": "f6g7h8i9j0.mp4",
                  "originalName": "clip.mov",
                  "path": "https://cdn.example.com/f6g7h8i9j0.mp4",
                  "thumbnail": "https://cdn.example.com/f6g7h8i9j0.jpg",
                  "alt": null,
                  "status": "ready",
                  "processingError": null
                }
              }
            }
          },
          "404": {
            "description": "`Media not found`",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NestError"
                },
                "example": {
                  "statusCode": 404,
                  "message": "Media not found"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/analytics/{integration}": {
      "get": {
        "tags": [
          "Analytics"
        ],
        "summary": "Get channel analytics",
        "description": "Channel metrics over time, such as followers and impressions, read from the network. Nine networks report them: Instagram, TikTok, YouTube, Facebook Page, X, LinkedIn Page, Threads, Pinterest and Google Business Profile. Other channels answer `[]`. A result is kept for an hour per channel and range.",
        "operationId": "getAnalytics",
        "parameters": [
          {
            "name": "integration",
            "in": "path",
            "required": true,
            "description": "The channel's id, from List channels",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "date",
            "in": "query",
            "required": true,
            "description": "Number of days to look back. The app offers 7, 30 and 90 (Instagram, Threads and TikTok only 7 and 30); the value is passed to the network as it is.",
            "schema": {
              "type": "string"
            },
            "example": "7"
          }
        ],
        "responses": {
          "200": {
            "description": "The channel's metrics",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AnalyticsData"
                  }
                },
                "example": [
                  {
                    "label": "Followers",
                    "data": [
                      {
                        "total": "1250",
                        "date": "2026-09-29"
                      },
                      {
                        "total": "1280",
                        "date": "2026-09-30"
                      }
                    ],
                    "percentageChange": 2.4
                  },
                  {
                    "label": "Impressions",
                    "data": [
                      {
                        "total": "5000",
                        "date": "2026-09-29"
                      },
                      {
                        "total": "5200",
                        "date": "2026-09-30"
                      }
                    ],
                    "percentageChange": 4
                  }
                ]
              }
            }
          },
          "400": {
            "description": "`This channel needs to be refreshed`: reconnect the channel",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NestError"
                },
                "example": {
                  "statusCode": 400,
                  "message": "This channel needs to be refreshed"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "description": "Channel not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NestError"
                },
                "example": {
                  "statusCode": 404,
                  "message": "Channel not found",
                  "error": "Not Found"
                }
              }
            }
          }
        }
      }
    },
    "/analytics/post/{postId}": {
      "get": {
        "tags": [
          "Analytics"
        ],
        "summary": "Get post analytics",
        "description": "Metrics for one published post, read live from the network, such as likes, comments and views. Eight networks report them: Instagram, Facebook, Threads, X, LinkedIn Page, TikTok, YouTube and Pinterest. The answer is `[]` when the post has no network id yet, its network has no post metrics, or the channel cannot be refreshed, and `{ \"missing\": true }` when a TikTok post is waiting for Update release ID.",
        "operationId": "getPostAnalytics",
        "parameters": [
          {
            "name": "postId",
            "in": "path",
            "required": true,
            "description": "The post's id",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "date",
            "in": "query",
            "required": true,
            "description": "Days to look back, such as 7 or 30",
            "schema": {
              "type": "string"
            },
            "example": "7"
          }
        ],
        "responses": {
          "200": {
            "description": "The post's metrics, `[]`, or `{ \"missing\": true }`",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/AnalyticsData"
                      }
                    },
                    {
                      "type": "object",
                      "properties": {
                        "missing": {
                          "type": "boolean",
                          "enum": [
                            true
                          ]
                        }
                      }
                    }
                  ]
                },
                "example": [
                  {
                    "label": "Likes",
                    "data": [
                      {
                        "total": "150",
                        "date": "2026-09-29"
                      },
                      {
                        "total": "175",
                        "date": "2026-09-30"
                      }
                    ],
                    "percentageChange": 16.7
                  },
                  {
                    "label": "Comments",
                    "data": [
                      {
                        "total": "25",
                        "date": "2026-09-29"
                      },
                      {
                        "total": "30",
                        "date": "2026-09-30"
                      }
                    ],
                    "percentageChange": 20
                  }
                ]
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/analytics/posts": {
      "get": {
        "tags": [
          "Analytics"
        ],
        "summary": "List post analytics",
        "description": "Your published posts in a date range with their latest stored metrics, sorted and paged. The numbers come from snapshots PostQueen stores for the networks that report per-post metrics (Instagram, Facebook, Threads, X, LinkedIn Page, TikTok, YouTube, Pinterest); a request starts a background refresh when they are more than an hour old, and `syncing` says so.",
        "operationId": "listPostAnalytics",
        "parameters": [
          {
            "name": "date",
            "in": "query",
            "required": false,
            "description": "Days to look back by publish date, 1 to 90. Default 30",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 90,
              "default": 30
            }
          },
          {
            "name": "integrationIds",
            "in": "query",
            "required": false,
            "description": "Comma-separated channel ids to limit the report to",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "q",
            "in": "query",
            "required": false,
            "description": "Text to match in the post content, channel name or platform",
            "schema": {
              "type": "string",
              "maxLength": 200
            }
          },
          {
            "name": "platform",
            "in": "query",
            "required": false,
            "description": "The network's identifier, such as x or instagram",
            "schema": {
              "type": "string",
              "maxLength": 64
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "description": "Sort field. Default reactions",
            "schema": {
              "type": "string",
              "enum": [
                "reactions",
                "comments",
                "impressions",
                "engagement",
                "published"
              ],
              "default": "reactions"
            }
          },
          {
            "name": "dir",
            "in": "query",
            "required": false,
            "description": "Sort direction. Default desc",
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "default": "desc"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Page number, 0-indexed",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Posts per page, 1 to 100. Default 20",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A page of posts with their metrics",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "syncing": {
                      "type": "boolean",
                      "description": "A background refresh was started; ask again shortly for newer numbers"
                    },
                    "date": {
                      "type": "integer"
                    },
                    "total": {
                      "type": "integer"
                    },
                    "page": {
                      "type": "integer"
                    },
                    "limit": {
                      "type": "integer"
                    },
                    "notes": {
                      "type": "object",
                      "description": "Fixed reading notes: the range filters posts by publish date, numbers are current lifetime totals, null means unknown rather than zero, Facebook returns no comments, Pinterest no reactions or comments, Google Business no post metrics"
                    },
                    "columns": {
                      "type": "object",
                      "description": "Which metrics any post in the range has at all: comments, reactions, impressions, engagement"
                    },
                    "posts": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/AnalyticsPostRow"
                      }
                    },
                    "top": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/AnalyticsPostRow"
                      },
                      "description": "Same as topReactions"
                    },
                    "topReactions": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/AnalyticsPostRow"
                      },
                      "description": "Up to 5 posts with the most reactions"
                    },
                    "topComments": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/AnalyticsPostRow"
                      },
                      "description": "Up to 5 posts with the most comments"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/analytics/summary": {
      "get": {
        "tags": [
          "Analytics"
        ],
        "summary": "Get an analytics summary",
        "description": "Totals across the published posts in a date range, from the same stored metrics as List post analytics. A total is null when any post in the range has no value for it.",
        "operationId": "postAnalyticsSummary",
        "parameters": [
          {
            "name": "date",
            "in": "query",
            "required": false,
            "description": "Days to look back by publish date, 1 to 90. Default 30",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 90,
              "default": 30
            }
          },
          {
            "name": "integrationIds",
            "in": "query",
            "required": false,
            "description": "Comma-separated channel ids to limit the report to",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "q",
            "in": "query",
            "required": false,
            "description": "Text to match in the post content, channel name or platform",
            "schema": {
              "type": "string",
              "maxLength": 200
            }
          },
          {
            "name": "platform",
            "in": "query",
            "required": false,
            "description": "The network's identifier, such as x or instagram",
            "schema": {
              "type": "string",
              "maxLength": 64
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Totals for the range",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "syncing": {
                      "type": "boolean"
                    },
                    "date": {
                      "type": "integer"
                    },
                    "notes": {
                      "type": "object",
                      "description": "Fixed reading notes: the range filters posts by publish date, numbers are current lifetime totals, null means unknown rather than zero, Facebook returns no comments, Pinterest no reactions or comments, Google Business no post metrics"
                    },
                    "posts": {
                      "type": "integer",
                      "description": "Posts in the range"
                    },
                    "reactions": {
                      "type": [
                        "integer",
                        "null"
                      ]
                    },
                    "comments": {
                      "type": [
                        "integer",
                        "null"
                      ]
                    },
                    "impressions": {
                      "type": [
                        "integer",
                        "null"
                      ]
                    },
                    "channels": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "integrationId": {
                            "type": "string"
                          },
                          "platform": {
                            "type": "string"
                          },
                          "channelName": {
                            "type": "string"
                          },
                          "posts": {
                            "type": "integer"
                          },
                          "impressions": {
                            "type": [
                              "integer",
                              "null"
                            ]
                          }
                        }
                      }
                    },
                    "weekdays": {
                      "type": "array",
                      "items": {
                        "type": "integer"
                      },
                      "description": "Posts per weekday, Monday first, by UTC publish date"
                    },
                    "engagementMix": {
                      "type": [
                        "object",
                        "null"
                      ],
                      "description": "Known reactions and comments, summed over the posts that report them"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/notifications": {
      "get": {
        "tags": [
          "Notifications"
        ],
        "summary": "List notifications",
        "description": "The workspace's notifications, newest first, 100 per page.",
        "operationId": "listNotifications",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Page number, starting at 0",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0
            },
            "example": 0
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of notifications",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotificationsResponse"
                },
                "example": {
                  "notifications": [
                    {
                      "id": "a1b2c3d4-e5f6-4a7b-8c9d-0e1f2a3b4c5d",
                      "content": "Your post was published on Bluesky",
                      "link": null,
                      "createdAt": "2026-10-01T09:00:12.000Z"
                    },
                    {
                      "id": "b2c3d4e5-f6a7-4b8c-9d0e-1f2a3b4c5d6e",
                      "content": "Could not publish your post on WordPress",
                      "link": null,
                      "createdAt": "2026-09-30T15:30:05.000Z"
                    }
                  ],
                  "total": 250,
                  "page": 0,
                  "limit": 100,
                  "hasMore": true
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/oauth/authorize": {
      "get": {
        "tags": [
          "OAuth"
        ],
        "summary": "Check an authorization request",
        "description": "Checks an OAuth app and returns what PostQueen shows on its consent screen. You do not normally call this: send the person to the consent page at `https://app.postqueen.ai/oauth/authorize` with the same query, and that page calls it. It is useful to check a `client_id`.\n\nOutside `/public/v1`; takes no API key. A client registered with Register a client must also send one of its `redirect_uri`s, and a public client (no secret) must send a PKCE `code_challenge` with method `S256`.",
        "operationId": "oauthAuthorize",
        "security": [],
        "servers": [
          {
            "url": "https://api.postqueen.ai",
            "description": "PostQueen"
          }
        ],
        "parameters": [
          {
            "name": "client_id",
            "in": "query",
            "required": true,
            "description": "The app's client id: `pca_...` for an app made under Connections > Developers, `pcd_...` for a registered client",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "response_type",
            "in": "query",
            "required": true,
            "description": "Must be `code`. No other response type is supported.",
            "schema": {
              "type": "string",
              "enum": [
                "code"
              ]
            }
          },
          {
            "name": "state",
            "in": "query",
            "required": false,
            "description": "An opaque value echoed back in the response and in the redirect to your app. Use a random value to protect against CSRF.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "redirect_uri",
            "in": "query",
            "required": false,
            "description": "Required for a registered client, and must be one of its `redirect_uris`. An app made under Connections > Developers always uses its stored Redirect URL",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "code_challenge",
            "in": "query",
            "required": false,
            "description": "PKCE challenge. Required for a registered client without a secret",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "code_challenge_method",
            "in": "query",
            "required": false,
            "description": "PKCE method. A registered client must use `S256`",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "scope",
            "in": "query",
            "required": false,
            "description": "Accepted and not used; the granted scope comes back on the token response",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The OAuth application is valid",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "app": {
                      "type": "object",
                      "properties": {
                        "name": {
                          "type": "string",
                          "description": "App name shown on the consent screen"
                        },
                        "description": {
                          "type": [
                            "string",
                            "null"
                          ],
                          "description": "App description shown on the consent screen"
                        },
                        "picture": {
                          "anyOf": [
                            {
                              "$ref": "#/components/schemas/MediaFile"
                            },
                            {
                              "type": "null"
                            }
                          ],
                          "description": "The app's profile picture, or null when none is set. Use `picture.path` as the image URL."
                        },
                        "clientId": {
                          "type": "string",
                          "description": "The app's Client ID"
                        },
                        "redirectUrl": {
                          "type": "string",
                          "description": "Where PostQueen sends the user after they approve or deny"
                        }
                      }
                    },
                    "state": {
                      "type": "string",
                      "description": "The `state` you sent, echoed back. Absent if you did not send one."
                    }
                  }
                },
                "example": {
                  "app": {
                    "name": "My Scheduler",
                    "description": "Schedules posts from my CRM",
                    "picture": null,
                    "clientId": "pca_VklHTpdEJ6dJ73FHQEJ97qVA0lcMDsrs",
                    "redirectUrl": "https://yourapp.com/callback"
                  },
                  "state": "random123"
                }
              }
            }
          },
          "400": {
            "description": "`Invalid client_id`, `Invalid redirect_uri`, `code_challenge is required for this client`, `Only the S256 code_challenge_method is supported`, or a failed query validation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NestError"
                },
                "example": {
                  "statusCode": 400,
                  "message": "Invalid client_id"
                }
              }
            }
          }
        }
      }
    },
    "/oauth/token": {
      "post": {
        "tags": [
          "OAuth"
        ],
        "summary": "Get an access token",
        "description": "Exchanges the code from your callback for a `pos_` access token. Call it from your server. Send the client secret in the body, or the id and secret as HTTP Basic in `Authorization`. A public client registered with `token_endpoint_auth_method: none` sends no secret and proves itself with `code_verifier`. The code works once, for 10 minutes.\n\nThe token does not expire. It stops working when the person revokes the app under **Connections > Approved Apps**, when they leave the workspace, are disabled or delete their account, or when they approve the app again (the new token replaces it). Send it in `Authorization` with no prefix on `/public/v1`. Outside `/public/v1`; takes no API key.",
        "operationId": "oauthToken",
        "security": [],
        "servers": [
          {
            "url": "https://api.postqueen.ai",
            "description": "PostQueen"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "grant_type": {
                    "type": "string",
                    "enum": [
                      "authorization_code"
                    ],
                    "description": "Must be `authorization_code`"
                  },
                  "code": {
                    "type": "string",
                    "description": "The authorization code from your callback URL"
                  },
                  "client_id": {
                    "type": "string",
                    "description": "Your app's Client ID. Leave it out when you send it in a Basic Authorization header"
                  },
                  "client_secret": {
                    "type": "string",
                    "description": "Your app's Client Secret (starts with `pcs_`). Leave it out with Basic auth, or for a public PKCE client"
                  },
                  "code_verifier": {
                    "type": "string",
                    "description": "The PKCE verifier, required when the authorization request carried a code_challenge"
                  },
                  "redirect_uri": {
                    "type": "string",
                    "description": "Required when the authorization request carried one, and must match it"
                  }
                },
                "required": [
                  "grant_type",
                  "code"
                ]
              },
              "example": {
                "grant_type": "authorization_code",
                "code": "AUTHORIZATION_CODE",
                "client_id": "pca_YOUR_CLIENT_ID",
                "client_secret": "pcs_YOUR_CLIENT_SECRET"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The access token",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "The workspace the person approved your app for"
                    },
                    "cus": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "description": "The workspace's billing customer id, or null"
                    },
                    "access_token": {
                      "type": "string",
                      "description": "The token to send in the `Authorization` header (starts with `pos_`)"
                    },
                    "token_type": {
                      "type": "string",
                      "description": "Always `bearer`. On `/public/v1` send the token with no prefix all the same"
                    },
                    "scope": {
                      "type": "string",
                      "description": "Granted scopes: `mcp:read mcp:write`, plus `openid email` for clients allowed email claims"
                    }
                  }
                },
                "example": {
                  "id": "cmg1oxk4b0000qz0h1f3e9a2c",
                  "cus": "cus_QkT3uV8wXyZ12a",
                  "access_token": "pos_8Jd02kLq9ZmX4tR7vB1nC6yH3wE5pA0sF2gD4hK8",
                  "token_type": "bearer",
                  "scope": "mcp:read mcp:write"
                }
              }
            }
          },
          "400": {
            "description": "`unsupported_grant_type`, `invalid_grant` (a wrong, used or expired code, a wrong `code_verifier` or `redirect_uri`), or a failed body validation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "error_description": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "invalid_grant",
                  "error_description": "Code has expired"
                }
              }
            }
          },
          "401": {
            "description": "`invalid_client`: unknown client id, or a wrong or missing secret",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "invalid_client"
                }
              }
            }
          }
        }
      }
    },
    "/oauth/register": {
      "post": {
        "tags": [
          "OAuth"
        ],
        "summary": "Register a client",
        "description": "Dynamic Client Registration (RFC 7591). A client, usually an MCP client, registers itself and gets a `pcd_` client id without anyone making an app under Connections > Developers. Callbacks must be https, an http loopback address (`localhost`, `127.0.0.1`, `[::1]`) or a private-use scheme such as `cursor://`. Only the `authorization_code` grant is supported. Send `token_endpoint_auth_method: none` for a public client, which then gets no secret and must use PKCE (`S256`). A registered client that nobody has approved after 30 days may be removed.\n\nOutside `/public/v1`; takes no API key.",
        "operationId": "oauthRegister",
        "security": [],
        "servers": [
          {
            "url": "https://api.postqueen.ai",
            "description": "PostQueen"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "redirect_uris"
                ],
                "properties": {
                  "redirect_uris": {
                    "type": "array",
                    "minItems": 1,
                    "items": {
                      "type": "string"
                    },
                    "description": "The callback URLs the client may use"
                  },
                  "client_name": {
                    "type": "string",
                    "description": "The name shown on the consent screen, up to 100 characters. Default `MCP Client`"
                  },
                  "client_uri": {
                    "type": "string",
                    "description": "Accepted and not stored"
                  },
                  "logo_uri": {
                    "type": "string",
                    "description": "Accepted and not stored"
                  },
                  "token_endpoint_auth_method": {
                    "type": "string",
                    "enum": [
                      "none",
                      "client_secret_post",
                      "client_secret_basic"
                    ],
                    "description": "`none` for a public client with PKCE. Anything else gets a secret; the default is `client_secret_post`"
                  },
                  "grant_types": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Must include `authorization_code` when sent"
                  },
                  "response_types": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Accepted; the answer is always `code`"
                  },
                  "scope": {
                    "type": "string",
                    "description": "Accepted; the scope is set by PostQueen"
                  }
                }
              },
              "example": {
                "client_name": "My MCP client",
                "redirect_uris": [
                  "http://127.0.0.1:33418/callback"
                ],
                "token_endpoint_auth_method": "none"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Registered. `client_secret` is present only for a confidential client, and is shown once",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "client_id": {
                      "type": "string"
                    },
                    "client_secret": {
                      "type": "string"
                    },
                    "client_secret_expires_at": {
                      "type": "integer",
                      "description": "`0`: the secret does not expire"
                    },
                    "client_id_issued_at": {
                      "type": "integer",
                      "description": "Unix time in seconds"
                    },
                    "client_name": {
                      "type": "string"
                    },
                    "redirect_uris": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "token_endpoint_auth_method": {
                      "type": "string"
                    },
                    "grant_types": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "response_types": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "scope": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "client_id": "pcd_5sT8wQ2eR7yU1iO4pA9sD3fG6hJ0kL2z",
                  "client_id_issued_at": 1790845200,
                  "client_name": "My MCP client",
                  "redirect_uris": [
                    "http://127.0.0.1:33418/callback"
                  ],
                  "token_endpoint_auth_method": "none",
                  "grant_types": [
                    "authorization_code"
                  ],
                  "response_types": [
                    "code"
                  ],
                  "scope": "mcp:read mcp:write"
                }
              }
            }
          },
          "400": {
            "description": "`invalid_redirect_uri`, `invalid_client_metadata`, or a failed body validation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "error_description": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "invalid_redirect_uri",
                  "error_description": "redirect_uris must use https or a private-use scheme (http is allowed for loopback only)"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization",
        "description": "Your API key from Connections > API Keys, or an OAuth access token (`pos_...`). Send it as it is, with no `Bearer` prefix."
      }
    },
    "schemas": {
      "Integration": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "The channel's id. Every other call that names a channel takes it"
          },
          "name": {
            "type": "string",
            "description": "Display name of the account"
          },
          "identifier": {
            "type": "string",
            "description": "Provider identifier",
            "enum": [
              "bluesky",
              "devto",
              "discord",
              "dribbble",
              "facebook",
[...]
